/* 3.1 Full Screen Navigation */
.is-nav-fullscreen {
    height: 94vh;
    position: relative;
}
/* 3.2 Vertical center */
.is-align-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}