/* 2.3 About Section */
.about {
    &--img {
        width: 100%;
        display: none;
        @include md-screen {
            display: block;
        }
    }
}
/* 2.4 About Restaurant Section */
.about-restaurant {
    &--img {
        @extend .about--img;
    }
}
