/* 2.4 About Section */
.about {
    &--bg {
        width: 100%;
        background: url(../img/our-story.png) top center no-repeat;
        background-size: contain;
        display: none;
        @include md-screen {
            display: block;
        }
    }
}
/* 2.4.1 About Restaurant Section */
.about-restaurant {
    background: white;
    &--bg {
        background: url(../img/about-restaurant.png) top center no-repeat;
        background-size: contain;
        display: none;
        @include md-screen {
            display: block;
        }
    }
}
