/* 2.12 Blog */
.blog {
    @extend .t-bg-light;
    &--img {
        width: 100%;
        margin-bottom: 1rem;
    }
    &--title:hover {
        text-decoration: none;
    }
    &--date {
        margin-bottom: .4rem;
        display: block;
        font-size: .7rem;
        letter-spacing: .10rem;
        color: $text-mute;
        text-transform: uppercase;
    }
    &--link:hover {
        text-decoration: none;
        color: darken($theme-color, 15%)
    }
}