/* 2.2 Custom Button Style*/
.btn {
    border-radius: .1rem;
    &-themecolor {
        background: $theme-color;
    }
    &-text {
        font-family: $heading-font;
        font-size: .7rem;
        letter-spacing: .15rem;
        color: $full-light;
        font-weight: 600;
        text-transform: uppercase;
    }
    &-text-light {
        color: $full-light;
    }
    &:hover {
        color: lighten($theme-color, 20%);
    }
}