/* 2.11 Event Style */
.event {
    background: white;
    &--img {
        width: 100%;
        margin-bottom: 1rem;
    }
    &--link:hover {
        text-decoration: none;
        color: darken($theme-color, 15%)
    }
}