/* 2.13 Footer */
.footer {
    &--top {
        background: darken($dark-bg, 10%);
    }
    &--list {
        list-style: none;
        margin: 0;
        padding: 0;
        &-item {
            color: lighten($heading-color, 50%);
        }
    }
    &--icon {
        margin-right: 1rem;
        color: $full-light;
        &:hover {
            color: $theme-color;
        }
    }
    &--link {
        @extend .footer--list-item;
        text-transform: capitalize;
        &:hover {
            text-decoration: none;
            color: lighten($heading-color, 70%);
        }
    }
    &--bottom {
        padding: 1.5rem 0;
        background: $dark-bg;
        color: $full-light;
    }
    &--copy {
        color: lighten($heading-color, 50%);
        text-transform: capitalize;
        &:hover {
            color: lighten($heading-color, 70%);
            text-decoration: none;
        }
    }
}