/* 2.12 Footer */
.footer {
    &--top {
        background: darken($dark-bg, 10%);
    }
    &--list {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &--icon {
        margin-right: 1rem;
        color: $full-light;
        &:hover {
            color: $theme-color;
        }
    }
    &--link {
        color: $text-mute;
        text-transform: capitalize;
        &:hover {
            text-decoration: none;
            color: lighten($text-mute, 15%);
        }
    }
    &--bottom {
        padding: 1.5rem 0;
        background: $dark-bg;
        color: $full-light;
    }
    &--copy {
        color: lighten($text-mute, 15%);
        text-transform: capitalize;
        &:hover {
            color: $theme-color;
            text-decoration: none;
        }
    }
}