/* 2.6 Menu Section Style */
.menu {
    &--text {
        font-family: $body-font;
        text-transform: capitalize;
        font-weight: 600;
        font-size: .9rem;
        color: lighten($heading-color, 30%);
        
        &:hover {
            color: $heading-color;
        }
    }
}