/* 2.8 Reservaion */
.reservation {
    
    @include md-screen {
        background:url(../img/chef-6.jpg) center center no-repeat fixed;
        background-size: cover;
        position: relative;
    }
    &--overlay {
        @include md-screen {
            height: 100%;
            width: 100%;
            background: rgba($heading-color, .8);
            position: absolute;
        }
    }
}
