//Color
$theme-color: #FF7EB3;
$full-light: #ffffff;
$dark-bg: #1B2144;
$body-text: #888888;
$heading-color: #1D1D2A;
$rating: #ffcc00;

//Font
$body-font: 'Open Sans', sans-serif;
$body-font-weight: 300;
$body-strong: 600;
$heading-font: 'Josefin Sans', sans-serif;
$heading-font-weight: 600;

//Full Height
$full-height: 100vh;
$full-width: 100vw;