//Color
$theme-color: #FF7EB3;
$full-light: #f8f9fa;
$dark-bg: #1B2144;
$body-text: #888888;
$heading-color: #1D1D2A;
$black-color: #000000;
$rating: #ffcc00;
$border-color: #ced4da;
$text-mute: #6c757d;
$teal: #00e5d4;
$purple: #7937fc;
$orange: #f16a22;

//Google Font
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:600|Open+Sans:300,600);
//Font Variables
$body-font: 'Open Sans', sans-serif;
$body-font-weight: 300;
$body-strong: 600;
$heading-font: 'Josefin Sans', sans-serif;
$heading-font-weight: 600;

//Full Height
$full-height: 100vh;
$full-width: 100vw;

