/* 4.1 Background */
.t-bg {
    background: lighten($dark-bg, 75%);
    &-light {
        background: lighten($dark-bg, 80%);
    }
    &-dark {
        background: $dark-bg; 
    }
}

/* 4.2 Logo */
.t-logo {
    max-height: 1.9rem;
    max-width: 4.8rem;
}
/* 4.3 Text ornament with theme color*/
.t-text-top {
    font-size: .7rem;
    font-weight: $body-strong;
    letter-spacing: .15rem;
    margin-bottom: .4rem;
    display: block;
    color: $theme-color;
    text-transform: uppercase;
    &--light {
        @extend .t-text-top;
        color: $full-light;
    }
    
}
/* 4.4 Section Padding */
.t-section-gap {
    padding: 6rem 0;
}
/* 4.5 Hr Style */
.t-hr {
    width: 3rem;
    height: .3rem;
    margin: 1rem 0;
    background: $theme-color;
}
/* 4.6 Full Screen Height */
.t-vh-100 {
    @include fullheight;
}
/* 4.7 Rating Color */
.t-rating {
    color: $rating;
}
/* 4.8 theme Color */
.t-theme-color {
    color: $theme-color;
}
/* 4.9 card icon */
.t-card-icon {
    font-size: 1.75rem;
}
/* 4.10 Icon */
.t-icon {
    font-size: 3rem;
    color: lighten($dark-bg, 50%);
}
/* 4.11 Theme color dark */
.t-color-dark {
    color: $heading-color;
}
/* 4.12 Vertical alignment */
.t-center-vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}
/* 4.13 Image full width */
.t-img {
    width: 100%;
}
/* 4.14 padding for medium screen only */
.t-md-gap {
    @include md-screen {
        padding: 6rem 0;
    }
}