/* 6.1 Background*/
.t-bg-dark {
    background: $dark-bg;
}
/* 6.2 Logo */
.t-logo {
    max-height: 1.9rem;
    max-width: 4.8rem;
}
/* 6.3 Text ornament with theme color*/
.t-text-top {
    font-size: .75rem;
    font-weight: $body-strong;
    letter-spacing: .15rem;
    margin-bottom: .3rem;
    color: $theme-color;
    text-transform: uppercase;
    
}
/* 6.4 Section Padding */
.t-section-gap {
    padding: 6rem 0;
}
/* 6.5 Hr Style */
.t-hr {
    width: 3rem;
    height: .3rem;
    margin: 1rem 0;
    background: $theme-color;
}
/* 6.6 Full Screen Height */
.t-vh-100 {
    @include fullheight;
}