/* 4.4 About Section */
.about {
    background: lighten($dark-bg, 80%);
    &--img {
        width: 100%;
        display: none;
    }
}
/* 4.5 About Restaurant Section */
.about-restaurant {
    &--img {
        @extend .about--img;
    }
}
/* 4.6 About Chef Section */
.chef {
    @extend .about;
}